<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.selvin.android.listsyncsample">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />


    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/ic_menu_home"
        android:theme="@style/CustomTheme"
        android:uiOptions="splitActionBarWhenNarrow">
        <service
            android:name=".authenticator.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".syncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".ui.ListsListActivity"
            android:label="@string/ui_listslistactivity_title">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="pl.selvin.android.ListSyncSample.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EditListActivity"
            android:label="@string/ui_new_list">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".ui.EditItemActivity"
            android:label="@string/ui_new_item">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".ui.ListActivity"
            android:label="@string/ui_listactivity_title">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".ui.ItemActivity"
            android:label="@string/ui_listactivity_title">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="@string/ui_activity_title"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".support.BaseAuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="@string/ui_activity_title"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <provider
            android:name=".provider.ListProvider"
            android:authorities="pl.selvin.android.listsyncsample" />
    </application>

</manifest>
